In [24]:
#Ans1
import pandas as pd
df=pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Ans2
l1=["ram","shyam","sma",4,8,2,3,"raju",6,4]
df=pd.Series(l1)
print(df)

0      ram
1    shyam
2      sma
3        4
4        8
5        2
6        3
7     raju
8        6
9        4
dtype: object

In [27]:
#Ans3
import pandas as pd
data = {
    "Name":["alice","Bob","Carie"],
    "Age":[25,30,24],
    "Gender":["Female","Male","Female"]
        }
df = pd.DataFrame(data,index=None,columns=None)
print(df.shape)
print(df.describe)

(3, 3)
<bound method NDFrame.describe of     Name  Age  Gender
0  alice   25  Female
1    Bob   30    Male
2  Carie   24  Female>

In [ ]:
#Ans4
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.
->Creating a dataframe:-
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

=>Series Vs DataFrame
1.Series:-
*One-dimensional
*Homogenous – Series elements must be of the same data type.
*Size-immutable – Once created, the size of a Series object cannot be changed.	

2.Dataframe
*Two-dimensional
*Heterogenous – DataFrame elements can have different data types.
*Size-mutable – Elements can be dropped or added in an existing DataFrame.
#Ex:-
1.Creating a series:
   #Creating a Series from dict
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

2.Creating a DataFrame:
    #Creating a DataFrame from a dictionary of lists
data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]
}
df = pd.DataFrame(data=data, index=['math avg', 'science avg', 'english avg'])
 
df

In [ ]:
#Ans5
These are some key features of Pandas :-

1.Perform Group by operation seamlessly
2.Datasets are mutable using pandas which means we can add new rows and columns to them.
3.Easy to handle missing data
4.Merge and join datasets
5.Indexing and subsetting data

*Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name:
    df1 = pd.read_csv("country_code.csv")
    merged_col = pd.merge(df, df1, on='Name')
    merged_col
An additional argument ‘on’ is the name of the common column, here ‘Name’ is the common column given to the merge() function. df is the first dataframe & df1 is the second dataframe that is to be merged.
Renaming the columns of dataframe using rename(), arguments passed are the columns to be renamed & inplace.

In [ ]:
#Ans6
1.Mutable
    1.DataFrame
    2.Panel
2.Immutable
    1.Series

In [ ]:
#Ans7
One can create a DataFrame from multiple Series objects by adding each series as a columns.

By using concat() method one can merge multiple series together into DataFrame. This takes several params, for our scenario we use list that takes series to combine and axis=1 to specify merge series as columns instead of rows. Note that using axis=0 appends series to rows instead of columns.

Ex:-
# Create Series by assigning names
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([22000,25000,23000], name='fees')
discount  = pd.Series([1000,2300,1000],name='discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)